<template id="entryShowcase">
    <div class="entry-showcase">
        <div class="showcase-container">
            <div class="info-container">
                    <div class="first">
                            <h3 id="spot">Spot</h3>
                            <h5 id="date">Date</h5>
                    </div>
                    <div class="second">
                            <h3 id="location">Location </h3>
                            <h5 id="caught">Caught:</h5>
                    </div>
            </div>


                <div class="weather-op"><h3>Weather</h3>
                        <!-- <img src="../assets/img/moon.png" alt="">
                        <img src="../assets/img/sun.png" alt="">
                        <img src="../assets/img/thunder.png" alt="">
                        <img src="../assets/img/wind.png" alt="">
                        <img src="../assets/img/rain.png" alt=""> -->
                </div>
                <h3 style="text-align:center;">Log</h3>
                <hr>
                <div class="log-container" id="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet neque eget ipsum varius rutrum. Mauris libero felis, vulputate a ligula ut, maximus fringilla libero. Vestibulum tristique est a gravida hendrerit. Aenean tellus massa, convallis vitae ultricies sed, euismod sit amet dui. Fusce volutpat eu ante eu tempor. Integer quis dolor sed justo suscipit congue. Aliquam ut lobortis odio. Integer dictum, augue vitae varius aliquet, velit enim fringilla nibh, sit amet posuere nisl ante at sem.
                            
                            Suspendisse tristique, felis ut rhoncus pulvinar, ex mi rhoncus elit, venenatis facilisis libero felis eu mauris. Maecenas non mi malesuada, interdum diam in, congue nibh. Etiam leo metus, porta in consequat id, interdum consequat ipsum. Donec ac ullamcorper nisl. In erat sapien, eleifend vitae mauris ut, accumsan volutpat elit. Pellentesque a est et tortor sagittis commodo at in libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam malesuada enim quis mauris ullamcorper vestibulum. Fusce tellus mi, elementum id magna sodales, gravida maximus erat. Mauris euismod mi nec dolor rutrum bibendum. Nam porttitor vitae felis sit amet congue. Phasellus ullamcorper id velit bibendum suscipit. Suspendisse imperdiet lorem dui, et blandit enim porttitor at. Quisque fringilla euismod odio eget pharetra. In accumsan orci vel augue ornare, nec finibus mauris faucibus. Vestibulum purus ipsum, laoreet at justo a, tristique congue nisi.
                            
                            Cras eget ullamcorper mi. Vivamus scelerisque erat sodales erat bibendum feugiat. Mauris sagittis aliquet eros, in gravida metus blandit sit amet. Sed sodales mauris eros, auctor sollicitudin libero facilisis ut. Aliquam nibh velit, ornare ac tellus et, venenatis pellentesque tortor. Curabitur luctus vestibulum nunc. Phasellus in nunc lorem. Pellentesque commodo convallis quam nec pellentesque. Phasellus quis dignissim elit. Nam id orci sed enim posuere sodales vitae sit amet nibh.
                            
                            
                            Suspendisse imperdiet imperdiet quam a vulputate. Nunc auctor vehicula lacus, quis condimentum orci imperdiet nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ac facilisis orci. In fermentum tempor scelerisque. Etiam interdum leo non posuere feugiat. Suspendisse fringilla, tellus id vestibulum consectetur, felis orci hendrerit felis, sed gravida lectus eros ut justo. Praesent sollicitudin hendrerit nibh, eget sagittis ligula eleifend eget. Nam dictum magna et faucibus pellentesque. Quisque convallis rutrum rhoncus. Cras ac nulla malesuada libero semper sagittis. Nunc ac nisl nunc. Suspendisse eu pretium dui, quis accumsan erat. In dignissim ante elementum efficitur bibendum. Nullam dui sapien, egestas eget malesuada vitae, auctor et urna.
                            
                            Proin tincidunt, dui id fermentum laoreet, sapien turpis faucibus odio, varius facilisis nulla urna id nisl. Sed commodo odio enim, vitae accumsan quam imperdiet et. Proin consequat justo ut ex ultricies viverra. Duis maximus rutrum tristique. Fusce faucibus tellus at porta interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc risus justo, bibendum eu purus efficitur, posuere vulputate felis. Donec tristique, dolor feugiat aliquam auctor, mauris elit malesuada ipsum, eget ullamcorper nisl nibh in massa. Proin sit amet magna malesuada, vehicula ipsum at, pulvinar dolor. Curabitur arcu metus, fermentum sit amet pellentesque eu, porta ac nisl. Nullam nec ipsum vitae dolor molestie varius. Nam tincidunt nisl eu augue egestas facilisis. Vestibulum eget faucibus lorem. Donec mi libero, ultricies non augue id, vehicula dictum velit. Pellentesque non nunc quis magna vestibulum auctor.</p>
                </div>
                <div class="btn-container">
                    <button  id="editBtn">Edit</button>
                    <button  id="deleteBtnEntry">Delete</button>
                </div>
                <div class="last-edit">
                        <p id="lastEdit">Last Edit:</p>
                </div>
        </div>
    </div>
</template>