<template id="logTemp">
  <form class="entryForm" action="">
    <div class="tab"><h4>Weather</h4>
      <div id="weather-op">
          <input type="checkbox" name="" id="moon">
          <label for="moon"><img src="../assets/img/moon.png" alt=""></label>
          <input type="checkbox" name="" id="sun">
          <label for="sun"><img src="../assets/img/sun.png" alt=""></label>´
          <input type="checkbox" name="" id="thunder">
          <label for="thunder"><img src="../assets/img/thunder.png" alt=""></label>
          <input type="checkbox" name="" id="wind">
          <label for="wind"><img src="../assets/img/wind.png" alt="" ></label>
          <input type="checkbox" name="" id="rain">
          <label for="rain"><img src="../assets/img/rain.png" alt=""></label>
      </div>
      <button type="button" class="prev-btn">Previous</button>
      <button class="next-btn">Next</button>
    </div>

    <div class="tab"><h4>Location</h4>
      <input type="text" id="location" class="input">
      <button type="button" class="prev-btn">Previous</button>
      <button class="next-btn" id="unitTestBtn">Next</button>
    </div>

    <div class="tab"><h4>Caught</h4>
      <input type="text" id="caught" class="input">
      <button type="button" class="prev-btn">Previous</button>
      <button class="next-btn">Next</button>
    </div>
    <div class="tab"><h4>Text</h4>
      <textarea name="" id="text" cols="50" rows="12" required></textarea>
      <button type="button" class="prev-btn">Previous</button>
      <button class="next-btn">Next</button>
    </div>
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
</template>

        <!-- <button type="button" id="prev-btn">Previous</button>
        <button id="next-btn">Next</button> -->
